* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1A2D;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    width: fit-content;
    background-color: #14273E;
    border-radius: 10px;
    padding: 1.5rem;

}



.image-container{
   position: relative;
   width: 320px;
   height: 300px;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 255, 248, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    border-radius: 10px;
}

.image-overlay img{
    width: 50px;
}

.image-container:hover .image-overlay{
    opacity: 1;
}

.main-image {
    width: 320px;
    /* width: 100%; */
    height: 300px;
    border-radius: 10px;
}

h1 {
    font-size: 25px;
    line-height: 1;
}

p {
    letter-spacing: 1px;
    width: 320px;
    color: lightgray;
}

.offer-time-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-weight: bold;
    color: #00FFF8;
}

.days-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: #8BACD9;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: lightgray;
}

.profile-image {
    width: 50px;
}

strong{
    color: white;
}
